
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <a class="navbar-brand" href="#">FarmSeed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/certified">Transactions</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NEW TRANSACTION
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Add a new certified bag</a>
            <a class="dropdown-item" href="#">Transfer a bag</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Mine</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="#">Track a route of a transaction</a>
        </li>
      </ul>
      
    </div>
  </nav>

<router-outlet></router-outlet>